html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
  height: 100%;
  cursor: url(/assets/Cursor_02.png), auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p, li, h1, h2, h3, h4, h5, h6, textarea, input[type="text"], label {
  cursor: url(/assets/Cursor_02-2_text.png), text;
}

a, a:hover {
  cursor: url(/assets/Cursor_02-2_select.png), pointer !important;
}

button, a, label[for], input[type="button"], input[type="submit"], .MuiButtonBase-root, .MuiCheckbox-root, .custom-pointer {
  cursor: url(/assets/Cursor_02-2_select.png), pointer !important;
}


* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.3);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100,100,100,0.6);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
